.pastel-success {
    background-color: #A0E7E5;
    color: #1A1A40;
}
.pastel-warning {
    background-color: #FFAEBC;
    color: #1A1A40;
}
.pastel-info {
    background-color: #B4F8C8;
    color: #1A1A40;
}
.pastel-primary {
    background-color: #FBE7C6;
    color: #1A1A40;
}
